.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav-link {
  list-style-type: none;
  text-decoration: none;
  margin-right: 10px;
}
